@import "./palette.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";

body {
  margin: 0;
  font-size: 16px;
  color: #000;
  background-color: #f3f3f3;
  line-height: 1.5;
  max-width: 100rem;
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

* {
  box-sizing: border-box;
}

.arrow::after {
  content: "\00a0›";
}
