main {
  overflow: auto;
}

.issue {
  display: none;
}

.issue img {
  width: 420px;
}

.issue p, .issue a {
  margin-bottom: 1rem;
}

.buy-link {
  text-decoration: none;
  color: var(--buy-link-color, white)
}


.visible {
  display: flex;
}