main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
}

.issue {
  display: none;
}

.issue img {
  height: auto;
  max-width: 420px;
}

.issue p, .issue a {
  margin-bottom: 1rem;
}

.buy-link {
  text-decoration: none;
  color: var(--buy-link-color, white)
}


.visible {
  display: flex;
}

.alternative {
  font-size: 15px;
  line-height: 22px;
}

.alternative a {
  font-size: 15px;
  line-height: 22px;
}