.right {
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
}

.description {
  width: 320px;
}

.issues {
  position: relative;
  z-index: 2;
  margin-top: auto;
}

.issues li a {
  color: #251d20;
  text-decoration: underline;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
}

.issues .selected {
  font-weight: bold;
}

.copyright {
  font-size: 12px;
  font-weight: normal;
}

.copyright a {
  font-size: 12px;
}

.privacy {
  margin-top: 1rem;
}
